body {
    font-family: 'Shadows Into Light';
    background-color: #eff8ff;
}

.container {
    background-color:white;
    margin:0 auto;
    border: 3px solid #093089;
    padding:1px;
    color:white;
}

.nav {
    list-style:none;
    text-align:center;
}

.nav li {
    display:inline;
    margin-right:20px;
}

.space {
    background:black;
    color:white;
    padding:100px;
    padding-bottom:200px;
    position:relative;
    overflow:hidden;
}

.spaceone {
    width:300px;
    border:white solid 2px;
    padding:40px;
    text-align:center;
    display:inline-block;
    position:relative;
}

.spacetwo {
    position:relative;
    top:200px;
    left:300px;
    border:white solid 2px;
    display:inline-block;
    overflow:hidden;
}

.spacetwo p {
    position:absolute;
    width:400px;
    text-align:center;
}

.stars {
    position:absolute;
    top:0px;
    left:0px;
    opacity:50%;
}

.span1 {
    font-size:10px;
}

#span2 {
    font-size:30px;
}

.fish {
    animation-name:fish;
    animation-duration:10s;
}


@keyframes fish {
    from {transform:translate(-400px, -400px);}
    to {transform:translate(400px, 400px);}
}