::-webkit-scrollbar {
    display: none;
}

.main {
    position:fixed;
    margin-left:15%;
    text-align:center;
    width:85%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}

.main-big {
    position:fixed;
    text-align:center;
    padding:0.01%;
    width:100%;
    height:100%;
    overflow:auto;
}

body {
    text-align:center;
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family:"Bellefair";
    font-size:18px;
}

#backgroundbox {
    background-color:rgba(255, 255, 255, 0.6);
    width:auto;
    height:fit-content;
    margin:3%;
    padding:50px 300px;
}

#backgroundbox-dark {
    background-color:rgba(0, 0, 0, 0.6);
    border:5px solid rgba(255, 255, 255, 0.8);
    color:white;
    width:auto;
    height:fit-content;
    margin:3%;
    padding:50px 300px;
}

.sidenav {
    background-color:rgba(255, 255, 255, 0.6);

    height:100%;
    width:15%;
    margin:0 auto;
    padding-top:30px;
    padding-left:0px;
    position:fixed;
    top:0px;
    left:0px;
    text-align:left;
    line-height:50px;
    overflow:hidden;  
    font-size:20px;
}

.sidenav-dark {
    background-color:rgba(0, 0, 0, 0.6);
    color:white;
    border:5px solid rgba(255, 255, 255, 0.8);
    height:100%;
    width:15%;
    margin:0 auto;
    padding-top:30px;
    padding-left:0px;
    position:fixed;
    top:0px;
    left:0px;
    text-align:left;
    line-height:50px;
    overflow:hidden;  
    font-size:20px;
}

.sidenav ul {
    margin:0;
    padding-left:0px;
    list-style:none;
}

.sidenav-dark ul {
    margin:0;
    padding-left:0px;
    list-style:none;
}
.nav {
    list-style:none;
    position:relative;
}

.nav a {
    text-decoration:none;
    color:black;
}

.nav p {
    margin-left:30px;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.nav li:hover {
    background-color:rgba(255, 255, 255, 0.2)
}

.sidenav-dark li:hover {
    color:white;    
}

.sidenav-title {
    font-size:23px;
}

.sidenav-title-dark {
    font-size:23px;
    line-height:normal;
}

.sub {
    position:relative;
    left:30px;
}

.about {
    position:relative;
    top:410px;
}

.contact {
    position:relative;
    top:400px;
}

.gallery {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;  
}

.gallery-item {
    margin:10px;
    border:1px solid black;
    width:200px;
    background:rgba(255, 255, 255, 0.4);
    overflow:hidden;
}

.gallery-img {
    width:100%;
    height:200px;
}
.gallery-item img {
    width:auto;
    height:100%;
}

.gallery-desc {
    padding:15px;
    text-align:center;
}

.gallery a {
    text-decoration:none;
    color:black;
}

.title {
    text-align:center;
}

.no-button {
    all: unset;
    display: inline-block;
    cursor:pointer;
}

a {
    color:black;
}

.no-link {
    text-decoration:none;
    color:inherit;
}